<h2 class="main-heading"> Choose Your Practice Set</h2>
<h3 class="sub-heading">Boost your preparation with real exam questions!</h3>
<select class="dropdown">
  <option>Select pyq</option>
  <option>2023</option>
  <option>2022</option>
  <option>2021</option>
  <option>2020</option>
</select>
<div class="button-group">
  <a routerLink="/participant-portal/select-exam" class="next-btn-attend">Previous</a>
  <a routerLink="/participant-portal/select-language" class="next-btn-attend">Next</a>
</div>